<mat-card class="home mat-elevation-z3">
    <mat-card-title>
        Excluir aluno
    </mat-card-title>
    <form>
        <mat-form-field>
            <input matInput type="text" placeholder="Nome" 
            [(ngModel)]="aluno.nome"
            name="nome" disabled
            >
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Matricula" 
            [(ngModel)]="aluno.matricula"
            name="matricula" disabled
            >
        </mat-form-field> 
    </form>
    <button mat-raised-button (click)="deleteAluno()" color="warn">
        Excluir
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>



