<mat-card class="home mat-elevation-z3">
    <mat-card-title>
        Novo aluno
    </mat-card-title>
    <form class="registeration-form" #registeration="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="Nome" [(ngModel)]="aluno.nome" name="nome" minlength="3">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" placeholder="Matricula" [(ngModel)]="aluno.matricula" name="matricula" required> 
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [formControl]="serializedDate" placeholder="Data Nascimento" [max]="date" (dateChange)="changeFormDate($event)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="date"></mat-datepicker>
        </mat-form-field>
    </form>
    <button mat-raised-button [disabled]="!registeration.valid" (click)="createAluno()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>