<mat-card class="home mat-elevation-z3">
    <mat-card-title>
        Adicionar aluno
    </mat-card-title>
    <form class="registeration-form" #registeration="ngForm">
        <mat-form-field>
            <input matInput type="text" placeholder="Nome" [(ngModel)]="aluno.nome" name="nome" minlength="3">
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" placeholder="Matricula" [(ngModel)]="aluno.matricula" name="matricula" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" [formControl]="serialize" placeholder="Data de nascimento"
                [max]="date" (dateChange)="changeDate($event)" onkeydown="return false" disabled>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker [startAt]="date" disabled="false"></mat-datepicker>
        </mat-form-field>
    </form>
    <button mat-raised-button [disabled]="!registeration.valid" (click)="createAluno()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>